@model PagedList.IPagedList<BanHang.ServiceSave.save>
@using PagedList;
@using PagedList.Mvc;
@Styles.Render("~/Content/PagedList.css")
@{
    ViewBag.Title = "Save";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center_title_bar" style="font-size:15px">Khuyến mãi</div>
@foreach (var item in Model)
{
    <div class="save_box">
        <table width="516" height="102" id="rounded-corner" style="text-align:center;margin-top:5px">
            <tbody>
                @if (item.id > 1)
                {
                    <tr><td width="50"></td><td>@item.name</td><td></td></tr>
                    <tr>                       
                        <td>@(Model.ToList().IndexOf(item) + 1)</td>
                        <td><a href="@Url.Action("ProductSave", "SanPham", new { page = 1, id_save = @item.id })"><img src="@("https://jacknguyenstorage.blob.core.windows.net/storageqlbh/" + item.image)" alt="" border="1" height="100" width="400" /></a></td>
                        <td width="66"><a href="@Url.Action("SaveDetail", "SanPham", new { id_save = @item.id })">Chi tiết</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


}

<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("Save", new {page}), PagedListRenderOptions.OnlyShowFivePagesAtATime)
</div>